<html>

<head>
  <title>Customer Query</title>
</head>

<body>
  <div style="margin-top: 15px">
    <img src="cid:logo" height="45px">
    <p style="font-size:16px">
      Query from - <b>{{name}}</b>
      <br />
      Contact Number - <b>{{mobile}}</b>
      <br />
      Query - <b>{{query}}</b>
    </p>
  </div>
</body>

</html>