<html>
<head><title>Reset Your Password</title></head>
<body>
  <h2>Smith &amp; Stanlee</h2>
  <p>
    Query from - <b>{{name}}</b>
    <br/>
    Contact Number - <b>{{mobile}}</b>
    <br/>
    Query - <b>{{query}}</b>
  </p>
</body>
</html>